<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
  <div>
    <ul>
      <li>Show all the users</li>
      <li>Create a new users</li>
      <li>Edit a users</li>
      <li>Delete a users</li>
    </ul>
  </div>
</body>
</html>
